.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  padding: 0 0;
  position: relative;
  z-index: 1;
  /* выше установили ограничения для секции */
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
.logo__place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  margin-left: 64px;
  margin-top: 30px;
}
.link{
  text-decoration: none;
}

.header__title {
  height: 100%;
  display: flex;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  align-items: center;
  }

.header__subtitle {
position: absolute;
width: 388px;
font-size: 18px;
left: 64px;
bottom: 30px;
font-weight: normal;
}
.main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}
/* конец шапки*/

.description{
  padding-top: 100px;
  margin: 0;
}
.two-columns {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
width: 80%;
margin-right: auto;
margin-left: auto;
padding: 0;
}

.two-columns__brief {
  width: 175px;
  text-align: left;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 784px;
  width: 80%;
  }
.two-columns__span_accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns__paragraf {
  width: 80%;
  min-width: 784px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/* конец секции*/

.digits{
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 0 0;
  }
.section-title{
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  }
.section-subtitle{
  text-align: center;
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: auto; 
  margin-right: auto;
}
.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
width: 1100px;
margin-left: auto;
margin-right: auto;
}
.table__cell{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  margin-top: 60px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  }
.table__text{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.feynman{
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  z-index: -2;
  padding: 0;
  margin: 0;
  }
.feynman__title{
  text-align: center;
  width: 648px;
  line-height: 1.15;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  }
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70 auto auto auto;
  text-align: center;
  z-index: 2;
  padding: 0;
  }
.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  position: absolute;
  text-decoration: none;
}
.feynman__img{
  display: flex;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.kaufman{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
 }
.section-title__theme_dark{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle__theme_dark{
  margin: 20 auto 0 auto;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table__theme_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding: 0;
}
.table__cell_theme_dark {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  margin: 80 auto 0 auto;
  flex-direction: column;
  z-index: 2;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__text_theme_dark{
  margin-top: 20px;
  z-index: 2;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle{
display: flex;
position: absolute;
right: -210px;
top: 0;
z-index: 1;
width: 877px;
height: 877px;
margin: 0;
padding: 0;
}



.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  }

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  padding: 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  }
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  padding: 0;
}
.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: none;
}


