li {
    list-style-type: none;
}
.footer__column-link {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}
.footer__column-link:hover {
    opacity: .3;
    transition: .5s;
}
