
.cards__item {
    width: 240px;
    margin-right: 100px;
    margin-top: 60px;
    padding-bottom: 0px;
    list-style-type: none;
}

.cards__item.cards__item:nth-child(3n){
    margin-right: 0px;
}
