.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    padding: 0 0;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
}

.logo_place_header {
    position: absolute;
    width: 183px;
    height: 32px;
    margin-left: 64px;
    margin-top: 30px;
    align-self: flex-start;
}

.header__title {
    max-width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    align-self: center;
    z-index: 2;
    margin-left: 64px;
    padding: 0;
}

.header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    z-index: 2;
    color: #2f80ed;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    left: 64px;
    bottom: 30px;
    font-weight: normal;
    z-index: 2;
    padding: 0;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
}


/*конец шапки*/

.description {
    padding-top: 100px;
    margin: 0;
}

.two-columns {
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    width: 80%;
    margin: auto;
    padding: 0;
}

.two-columns__brief {
    width: 175px;
    text-align: left;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-right: auto;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    align-self: start;
    margin-top: 0;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.two-columns__paragraph {
    margin-top: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    bottom: 30px;
    padding: 0;
}

.digits {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.section-subtitle {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    padding: 0 0;
    margin-right: auto;
    margin-left: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}

.table__text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 0;
}


/* и элемента с модификатором вида ключ-значение */

.feynman {
    position: relative;
    min-height: 790px;
    background-color: #f2f2f2;
    padding-top: 100px;
}

.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    max-width: 648px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 70px auto auto auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    right: 48px;
    top: 50%;
    position: absolute;
    text-decoration: none;
    color: #2f80ed;
}

.feynman__img {
    width: 867px;
    height: 637px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}


/* конец сеции*/

.kaufman {
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    z-index: 1;
}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-size: contain;
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    z-index: 2;
}

.section-title_theme_dark {
    z-index: 3;
    position: relative;
}

.table_theme_dark {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.table__cell_theme_dark {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: white;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    padding: 0;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-left: 0;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding: 0 0;
}

.footer {
    display: flex;
    background-color: #1f1f1f;
    min-height: 350px;
    color: white;
    box-sizing: border-box;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 60px auto 40px;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
}

.footer__column-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0 16px;
    padding: 0;
    list-style-type: none;
}

.footer__column-link {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: none;
}